/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/Makefile
/data
/meshtools3d
# Editor temporary files
.*.swp
*.o

/CMakeCache.txt
/CMakeFiles
/m3d/src/CMakeFiles
/m3d/src/CMakeFiles/*
/m3d/src/CMakeFiles/m3d.dir/DependInfo.cmake
/m3d/src/CMakeFiles/m3d.dir/build.make
/m3d/src/CMakeFiles/m3d.dir/cmake_clean.cmake
/m3d/src/cmake_install.cmake
/m3d/src/CMakeFiles/m3d.dir/depend.internal
/m3d/src/CMakeFiles/m3d.dir/depend.make
/m3d/src/CMakeFiles/m3d.dir/link.txt
/m3d/src/CMakeFiles/m3d.dir/progress.make
/m3d/src/CMakeFiles/progress.marks
/m3d/src/Makefile
/m3d/src/libm3d.*
/cmake_install.cmake
/Makefile
/data
/meshtools3d

# Editor temporary files
.*.swp
/examples/*OUT
Mesh.o
.vscode/*

## MSVS files and folders ##
.vs/*
.vs/
fibres.dir/
fibres.dir/*
meshtools3d.dir/
meshtools3d.dir/*
x64/
x64/*
m3d/src/m3d.dir/
m3d/src/m3d.dir/*
Debug
Debug/*
Release
Release/*

*.vcxproj*
*.sln*

.claude/**
CLAUDE.md
